Source: freeon
Section: science
Priority: extra
Maintainer: Nicolas Bock <nicolasbock@freeon.org>
Build-Depends: autotools-dev, gfortran, libblas-dev, liblapack-dev, hdf5-tools,
  libhdf5-serial-dev, debhelper (>= 7.0.50~), python
Standards-Version: 3.9.3
Homepage: http://www.freeon.org/

Package: freeon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FreeON is an experimental, open source (GPL) suite of programs for linear scaling quantum chemistry.
  It is highly modular, and has been written from scratch for N-scaling SCF
  theory in Fortran95 and C. Platform independent I/O is supported with HDF5.
  FreeON should compile with most modern Linux distributions and OS X. FreeON
  performs Hartree-Fock, pure Density Functional, and hybrid HF/DFT
  calculations (e.g. B3LYP) in a Cartesian-Gaussian LCAO basis.  All algorithms
  are O(N) or O(N log N) for non-metallic systems. Periodic boundary conditions
  in 1, 2 and 3 dimensions have been implemented through the Lorentz field
  (Γ-point), and an internal coordinate geometry optimizer allows full
  (atom+cell) relaxation using analytic derivatives. Effective core potentials
  for energies and forces have been implemented. Advanced features include O(N)
  static and dynamic response, as well as time reversible Born Oppenheimer
  Molecular Dynamics (MD).
